PORT=3000
NODE_ENV=production

DB_HOST=localhost
DB_USER=admins
DB_PASSWORD=
DB_NAME=apps_rpjepq
DB_PORT=3306

JWT_SECRET=
JWT_EXPIRES_IN=8h

FRONTEND_URL=https://apps-itechs.com
RATE_LIMIT_WINDOW_MINUTES=15
RATE_LIMIT_MAX_LOGIN=10
